import /home/stevepro/GitHubX/tigera4/envoy-modsec-prototype/ModSecurity-envoy/envoy/.bazelrc
build --workspace_status_command=/home/stevepro/GitHubX/tigera4/envoy-modsec-prototype/ModSecurity-envoy/envoy/bazel/get_workspace_status
